.registration-container {
    position: relative;
    width: auto;
    height: 220px;
    border: 1px solid #eee;
    padding: 20px;
    background: linear-gradient(to bottom right, #74e673 40%, #31ec4d 100%);
    border-radius: 10px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 60px;
}

.register-box {
    margin-top: 10px;
}

.register-heading {
    margin-top: 5px;
    font-size: 0.9rem;
    font-weight: bold;
    letter-spacing: 3px;
    color: #FCFCFC;
}

.register-description {
    font-size: 0.5em;
    font-weight: 400;
    letter-spacing: 1px;
    color: darken(#777777, 10%);
}

.registration-btn,
.registration-btn:link,
.registration-btn:visited {
    cursor: pointer;
    font-size: 12px;
    background: #FCFCFC;
    width: 60%;
    height: 40px;
    border-radius: 20px;
    outline: 0;
    border: none;
    /* box-shadow: 2px 2px 10px rgba(#777777, .5); */
    box-shadow: 2px 2px 10px rgba(119, 119, 119, 0.5);
    transition: all .5s ease-in-out;
    /* margin-top: 15px; */
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-left: 35px;

}

.green {
    color: #99DBB4;
    font-weight: 400;
    padding-top: 5px;
}

.registration-btn:hover {
    /* background: darken(#FCFCFC, 5%); */
    background: rgba(252, 252, 252, 0.95);
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
}

.emoji-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.bouncing-emoji {
    animation: bounce 1s infinite;
    font-size: 30px;
}

@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-15px);
    }
}

@media screen and (max-width: 576px) {
    .registration-container {
        padding: 10px;
        margin-top: 30px;
        width: 80% !important;
        margin-left: 57px !important;
    }

    .register-heading {
        font-size: 0.9rem !important;
        font-weight: bold;
    }

    .register-description {
        margin-top: 5px;
        font-size: 0.5em !important;
        font-weight: bold;
    }

    .registration-btn {
        width: 90%;
        font-size: 10px !important;
        height: 35px;
        /* margin-top: 10px; */
        font-weight: bold;
        margin-left: 67px !important;
    }

    .green{
        margin-top: 0px;
        padding-top: 9px;
    }
    .bouncing-emoji {
        font-size: 20px;
    }
}

@media screen and (max-width: 768px) {
    .registration-container {
        width: 50%;
        margin: 50px auto;
    }

    .register-heading {
        font-size: 1.5rem;
    }

    .register-description {
        font-size: 0.7em;
    }

    .registration-btn {
        width: 50%;
        font-size: 1rem;
        margin-left: 80px;
    }

    .green{
        padding-top: 10px;
        font-size: 1.2rem;
    }
    .bouncing-emoji {
        font-size: 24px;
    }
}