/* ============================================================== HOME-CSS ============================================== */

.aahladh-home-container {
    background-color: #000000e9;
}

.home-container {
    top: 0%;
    /* background-image: url('./Assets/bg.jpg'); */
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position: center; */
    background-blend-mode: darken;
    /* background-position: bottom; */
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* =========================================== AAHLADH-PAGE ================================================= */
/* bg-video */


.container-wrapper {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

/* Video styles */
.aahladh-video {
    width: 100%;
    height: 100%;
    object-fit: fill;
    /* margin-top: 75px; */
}

.events-heading {
    padding: 20px;
    align-items: center;
    text-align: center;
    color: #fff;
}

/* about-css */
.about-container {
    border: 1px solid white;
    padding: 40px;
    margin: 80px;
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
}

.about-heading {
    align-items: center;
    text-align: center;
    color: #fff;
    font-weight: bold;
}

.about-description {
    text-align: center;
    align-items: center;
    color: #fff;
    font-size: 18px;
}

@media (max-width: 768px) {
    .about-container {
        margin: 40px;
    }

    .about-heading {
        font-size: 24px;
    }

    .about-description {
        font-size: 16px;
    }
}

/* carousal-css */
.carousel-container {
    position: relative;
    width: 100%;
    height: 600px;
    background-color: #f5f5f5;
    overflow: hidden;
}

/* Load bar */
.loadbar {
    position: absolute;
    top: 0;
    left: 0;
    height: 5px;
    background-color: #f76b8a;
    /* Loading progress bar color */
    transition: width 0.5s ease-in-out;
}

/* Slide container */
#slide {
    display: flex;
    transition: transform 0.8s ease-in-out;
}

.item {
    width: 200px;
    height: 250px;
    background-position: 50% 50%;
    display: inline-block;
    transition: 0.8s;
    background-size: cover;
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translate(0, -50%);
    border-radius: 10px;
    box-shadow: 0 30px 50px #505050;
}


.item:nth-child(2) {
    left: 0;
    top: 0;
    transform: translate(0, 0);
    border-radius: 0;
    width: 100%;
    height: 100%;
    box-shadow: none;
}

.item:nth-child(3) {
    left: 50%;
}

.item:nth-child(4) {
    left: calc(50% + 220px);
}

.item:nth-child(5) {
    left: calc(50% + 440px);
}

.item:nth-child(n + 6) {
    left: calc(50% + 660px);
    opacity: 0;
}

.item .content {
    position: absolute;
    top: 50%;
    left: 100px;
    width: 300px;
    text-align: left;
    padding: 0;
    color: #eee;
    transform: translate(0, -50%);
    display: none;
}

.item:nth-child(2) .content {
    display: block;
    z-index: 11111;
}

.item .name {
    font-size: 50px;
    font-weight: bold;
    opacity: 0;
    animation: showcontent 1s ease-in-out 1 forwards;
}

.item .des {
    font-size: 13px;
    margin: 20px 0;
    opacity: 0;
    animation: showcontent 1s ease-in-out 0.3s 1 forwards;
}

@keyframes showcontent {
    from {
        opacity: 0;
        transform: translate(0, 100px);
        filter: blur(33px);
    }

    to {
        opacity: 1;
        transform: translate(0, 0);
        filter: blur(0);
    }
}

/* buttons */
.buttons {
    position: absolute;
    bottom: 30px;
    z-index: 22;
    text-align: center;
    width: 100%;
}

.buttons button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #555;
    transition: 0.5s;
}

.buttons button:hover {
    background-color: #bac383;
}

.register-btn:hover {
    background-color: #bac383;
    cursor: pointer;
}

/* register-btn */
.register-button {
    display: inline-flex;
    height: 40px;
    width: 150px;
    border: 2px solid #BFC0C0;
    /* margin: 20px 20px 20px 20px; */
    color: #BFC0C0;
    text-transform: uppercase;
    text-decoration: none;
    font-size: .8em;
    letter-spacing: 1.5px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    animation: showcontent 1s ease-in-out 0.6s 1 forwards
}

.btn-name {
    color: #BFC0C0;
    text-decoration: none;
    letter-spacing: 1px;
}

#btn {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

#btn .btn-name {
    position: relative;
    left: 0;
    /* transition: all .35s ease-Out; */
}

#dub-arrow {
    width: 100%;
    height: 100%;
    background: #BFC0C0;
    left: -200px;
    position: absolute;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .35s ease-Out;
    bottom: 0;
}

#btn .btn-img {
    width: 20px;
    height: auto;
}

#btn:hover #dub-arrow {
    left: 0;
}

#btn:hover .btn-name {
    left: 150px;
}

.break-line-button {
    margin-top: 10px;
}

@media screen and (max-width: 768px) {
    .item {
        width: 100%;
        left: 0;
        top: 30%;
        transform: translate(0, 0);
        border-radius: 0;
        box-shadow: none;
    }

    .item .content {
        left: 20px;
    }
}

@media screen and (max-width: 480px) {
    .item {
        width: 100%;
        height: 200px;
        left: 0;
        top: 0;
        transform: translate(0, 0);
        border-radius: 0;
        box-shadow: none;
    }

    .item .content {
        top: 60%;
        left: 20px;
    }
}

/* promo-video */

.promo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-left: 200px;
    margin-right: 200px;

}

.aahladh-promo {
    height: 600px;
    width: 100%;
}

@media screen and (max-width: 576px) {
    .promo-container {
        margin-top: 80px !important;
        margin-left: 50px;
        margin-right: 50px;
        height: 50vh !important;
        margin-bottom: 0px !important;
    }
    .aahladh-promo{
        width: 100vw;
        height: 400px !important;
    }
}

@media screen and (max-width: 768px) {
    .promo-container {
        margin-top: 200px;
        margin-left: 50px;
        margin-right: 50px;
        height: 50vh;
        margin-bottom: 200px;
    }
    .aahladh-promo{
        width: 100vw;
        height: 600px;
    }
}

/* ==============================================Council Members CSS========================================== */
.member-heading {
    padding: 20px;
    align-items: center;
    text-align: center;
    color: #fff;
}

/* cards */
.card-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 30px;
    /* background-color: #000000d9; */
}

.card {
    width: 350px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

@media screen and (max-width: 768px) {
    .card {
        width: 430px;
        height: 450px;
    }
}

@media screen and (max-width: 480px) {
    .card {
        width: 300px;
        height: auto;
    }


}

.card:hover {
    box-shadow: 5px 10px 20px 1px rgba(236, 236, 236, 0.253) !important;
}

.overflow {
    overflow: hidden;
}

.card-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
    transform: scale(1);
    transition: transform 0.5s ease;
}

.card-image:hover {
    transform: scale(1.3);
}

.card-content {
    padding: 20px;
}

.card-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-left: 10px;
}

.card-text {
    font-size: 14px;
    color: #777;
    margin-bottom: 10px;
    margin-left: 10px;

}

@media (max-width: 768px) {
    .card-container {
        flex-direction: column;
    }
}

.mem-social-icons {
    padding-left: 9px;
}